In [1]:
from src.data_application import DataFrameProcessor
from src.data_local import DataLoader, MergedDataPreprocessing
from cashe import get_input

## SNB Dataset - Live data
loaded on 3/5/2024

In [2]:
df_original = get_input()

In [3]:
df_original.head(5)

,item_CreatedDate,transaction_RequestId,transaction_PatientAge,transaction_PatientEnGender,item_NameEn,item_Price,item_Status,item_Sequence,item_RequestQuantity,item_ResponseQuantity,transaction_DiagnosisIds,transaction_PhysicianIds,item_ResponseState
0,2023-08-24 14:21:05.369,75a9840c-865f-4fd9-9b67-255bb8771eee,6Y-3M,Male,Examination,80.0,1,1,1.0,0.0,J02,",327",NaN
1,2023-08-24 14:34:14.349,6c46f638-517f-493d-b710-4aef5f9e9393,6Y-3M,Male,Examination,80.0,1,1,1.0,0.0,J02,",327",NaN
2,2023-08-24 14:58:18.912,3c2813fe-f1f3-438f-b16f-92fcf917dc67,6Y-3M,Male,Examination,80.0,1,1,1.0,0.0,J02,",327",NaN
3,2023-08-24 15:00:39.525,65e81315-23b8-4d4e-9767-040c45a0f560,6Y-3M,Male,Examination,80.0,1,1,1.0,0.0,J02,",327",NaN
4,2023-08-24 15:03:23.404,c4427a02-3291-422d-b2e8-b97bf3d5081d,6Y-3M,Male,Examination,80.0,2,1,1.0,1.0,J02,",327",approved

In [4]:
preprocessing = MergedDataPreprocessing(df_original)

In [5]:
df_original_prep = preprocessing.age_gender_item_ids_prep(item_encoding=False)
df_original_prep

,item_CreatedDate,transaction_RequestId,transaction_PatientAge,transaction_PatientEnGender,item_NameEn,item_Price,item_Status,item_Sequence,item_RequestQuantity,item_ResponseQuantity,transaction_DiagnosisIds,transaction_PhysicianIds,item_ResponseState
0,2023-08-24 14:21:05.369,75a9840c-865f-4fd9-9b67-255bb8771eee,6,1,Examination,80.00,1,1,1.0,0.0,7,",327",NaN
1,2023-08-24 14:34:14.349,6c46f638-517f-493d-b710-4aef5f9e9393,6,1,Examination,80.00,1,1,1.0,0.0,7,",327",NaN
2,2023-08-24 14:58:18.912,3c2813fe-f1f3-438f-b16f-92fcf917dc67,6,1,Examination,80.00,1,1,1.0,0.0,7,",327",NaN
3,2023-08-24 15:00:39.525,65e81315-23b8-4d4e-9767-040c45a0f560,6,1,Examination,80.00,1,1,1.0,0.0,7,",327",NaN
4,2023-08-24 15:03:23.404,c4427a02-3291-422d-b2e8-b97bf3d5081d,6,1,Examination,80.00,2,1,1.0,1.0,7,",327",approved
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49087,2024-04-30 09:00:16.704,f4cbab83-28f3-4410-948c-2c87cdcdd8da,31,1,TRIGLYCERIDES,121.00,1,3,1.0,0.0,2,",238,238,238,238,238,238,238,238,238,238,238,2...",NaN
49088,2024-04-30 09:00:16.704,f4cbab83-28f3-4410-948c-2c87cdcdd8da,31,1,URINE ANALYSIS,60.50,1,2,1.0,0.0,2,",238,238,238,238,238,238,238,238,238,238,238,2...",NaN
49089,2024-04-30 09:00:16.704,f4cbab83-28f3-4410-948c-2c87cdcdd8da,31,1,Examination,80.00,1,1,1.0,0.0,2,",238,238,238,238,238,238,238,238,238,238,238,2...",NaN
49090,2024-04-30 09:00:16.704,f4cbab83-28f3-4410-948c-2c87cdcdd8da,31,1,CIPROXEN 500 MG 10 TAB,54.25,1,16,1.0,0.0,2,",238,238,238,238,238,238,238,238,238,238,238,2...",NaN
49091,2024-04-30 09:00:16.704,f4cbab83-28f3-4410-948c-2c87cdcdd8da,31,1,NEUROBION TAB 30 TAB,23.30,1,17,3.0,0.0,2,",238,238,238,238,238,238,238,238,238,238,238,2...",NaN

In [19]:
df_train, df_test = preprocessing.train_test_split(test_size=0.2,random_state=4)

In [20]:
ls1 = list(df_train.sort_values(by='transaction_RequestId')['transaction_RequestId'])
ls2 = list(df_test.sort_values(by='transaction_RequestId')['transaction_RequestId'])
intersection = list(set(ls1) & set(ls2))
intersection ## to find the repeated transaction id between them

[]

In [21]:
len(df_train) / len(df_test)

4.028471662637658

In [22]:
df_train.to_excel('data/SplittedData/SNB_train_data.xlsx',index=False)
df_test.to_excel('data/SplittedData/SNB_test_data.xlsx',index=False)

In [ ]:
#df_trans_req, df_trans_res = data_loader.split_transaction(df_trans)

## Request-Response dataframes

In [ ]:
## Old data form
df_trans_req = DataFrameProcessor(df_trans_req).filter_high_variance_features()
df_trans_res = DataFrameProcessor(df_trans_res).filter_high_variance_features()

In [ ]:
df_trans_req.head(3)

In [ ]:
df_trans_req.columns

In [ ]:
df_trans_res.head(3)

In [ ]:
data_loader = DataLoader()
df_request, df_response = data_loader.load_data()

In [ ]:
len(df_request)

In [ ]:
processor = DataFrameProcessor(df_request)

df_request_out = processor.filter_high_variance_features()

In [ ]:
df_request.to_excel('sad.xlsx')

In [ ]:
print(1)

In [ ]:
df_request_out.head(3)

In [ ]:
df_request_out.columns

In [ ]:
dfs[1].head()

In [ ]:
dfs[2].head()